/* =============================
      ESTILO GENERAL
============================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #ffffff;  /* Blanco */
  color: #333;
}

/* =============================
      HEADER
============================= */
header {
  background-color: #ffffff;
  color: #333;
  text-align: center;
  padding: 25px 0 10px 0;
  border-bottom: 3px solid #d4af37; /* Dorado elegante */
}

/* =============================
      NAV
============================= */
nav {
  background-color: #f5f5f5; /* Gris claro */
  padding: 12px 0;
  display: flex;
  justify-content: center;
  gap: 50px;
  border-bottom: 2px solid #d4af37; /* Dorado */
  border-top: 2px solid #d4af37; /* Dorado */
  position: sticky;
  top: 0;
  z-index: 900;
}

nav a {
  text-decoration: none;
  color: #6b6b6b; /* Gris */
  font-weight: 500;
  transition: 0.3s;
}

nav a:hover {
  color: #d4af37; /* Dorado */
}

/* =============================
      HERO
============================= */
.hero {
  padding: 100px 20px;
  text-align: center;
}

.hero h2 {
  font-size: 40px;
  color: #333;
}

.hero p {
  margin-top: 10px;
  font-size: 18px;
  color: #6b6b6b;
}

/* =============================
      BOTONES
============================= */
.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 18px;
  background-color: #d4af37; /* Dorado */
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  border-radius: 6px;
  transition: 0.3s;
}

.btn:hover {
  background-color: #b9972c; /* Dorado oscuro */
}

/* =============================
      PRODUCTOS
============================= */
#productos {
  padding: 40px 20px;
  text-align: center;
}

.productos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 25px;
  margin-top: 30px;
}

.producto {
  background: #ffffff;
  padding: 18px;
  border-radius: 10px;
  text-align: center;
  border: 2px solid #d4af37; /* borde dorado */
  transition: 0.3s;
}

.producto:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 12px rgba(212, 175, 55, 0.3);
}

.producto img {
  width: 100%;
  border-radius: 10px;
}

.producto p {
  color: #6b6b6b;
}

/* =============================
      CONTACTO
============================= */
#contacto {
  padding: 50px 20px;
  text-align: center;
}

/* =============================
      FOOTER
============================= */
footer {
  background: #f5f5f5; /* Gris claro */
  color: #333;
  text-align: center;
  padding: 25px 0;
  margin-top: 40px;
  border-top: 3px solid #d4af37; /* Dorado */
}
